{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 4{% endblock %}

{# основной контент: #}
{% block main %}

    <h1>Формы (POST)</h1>
    <div>Тема лабораторной - Формы (POST). Список сделанных страниц:</span></div>
    <ol>
        <li><a href="/lab4/div-form">Деление</a></li>
        <li><a href="/lab4/sum-form">Суммирование</a></li>
        <li><a href="/lab4/mul-form">Умножение</a></li>
        <li><a href="/lab4/sub-form">Вычитание</a></li>
        <li><a href="/lab4/pow-form">Возведение в степень</a></li>
        <li><a href="/lab4/tree">Управление деревьями</a></li>
        <li><a href="/lab4/login">Авторизация</a></li>
        <li><a href="/lab4/fridge">Холодильник</a></li>
        <li><a href="/lab4/grain-order">Заказ зерна</a></li>
    </ol>
{% endblock %}