{% extends "base.html" %}

{# номер лабораторной работы #}
{% block lab %}Лабораторная работа 2{% endblock %}

{# основной контент #}
{% block main %}
    <h1>Шаблоны</h1>
    <div>Тема лабораторной - шаблоны. Список сделанных страниц:</div>
    <ol>
        <li><a href="/">Главная страница</a></li>
        <li><a href="/lab2/example">example</a></li>
        <li><a href="/lab2/filters">фильтры</a></li>
        <li><a href="/lab2/calc/">калькулятор</a></li>
        <li><a href="/lab2/books">книги</a></li>
        <li><a href="/lab2/places">достопримечательности</a></li>
        <li><a href="/lab2/a/">со слэшем</a></li>
        <li><a href="/lab2/a">без слэша</a></li>
        <li><a href="/lab2/flowers/">информация о цветке</a></li>
        <li><a href="/lab2/add_flower/">добавить цветок</a></li>
        <li><a href="/lab2/all_flowers">полный список цветов</a></li>
        <li><a href="/lab2/no_flowers">очистить список цветов</a></li>
    </ol>
{% endblock %} 
