<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='lab1.css') }}">
    <title>Достопримечательности</title>
</head>
<body>
    <header>WEB-програмимирование, часть 2. Лабораторная 2</header>
    <main>
    <h1>Достопримечательности</h1>
        <div>
            {% for place in places %}
            <div>
                <h2>{{ place.name }}</h2>
                <p>{{ place.description }}</p>
                <img src="{{ url_for('static', filename='lab2/' + place.image) }}">
            </div>
            {% endfor %}
        </div>
    
    </main>
    <footer>
        &copy; Янсон Андрей Алексеевич, ФБИ-31, 3 курс, 2025
    </footer>
</body>
</html>