{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1>Заказ напитка</h1>

    <form action="/lab3/pay">
        <div>
            <h3>Напиток:</h3>
            <label>
                <input type="radio" value="cofee" name="drink" checked>кофе — 120 рублей
            </label>
            <br>
            <label>
                <input type="radio" value="black-tea" name="drink">чёрный чай — 80 рублей
            </label>
            <br>
            <label>
                <input type="radio" value="green-tea" name="drink">зелёный чай — 70 рублей
            </label>
        </div>

        <div>
            <h3>Добавки:</h3>
            <label>
                <input type="checkbox" name="milk">молоко (+30 рублей)
            </label>
            <br>
            <label>
                <input type="checkbox" name="sugar">сахар (+10 рублей)
            </label>
        </div>

        <div>
            <button type="submit">Заказать</button>
        </div>
    </form>
{% endblock %}
