{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
<h1>Создание статьи</h1>

{% if error %}
    <p style="color: red; font-weight: bold;">{{ error }}</p>
{% endif %}

<form method="post">
    <div>
        <label>Название статьи: 
            <input type="text" maxlength="50" name="title">
        </label>
    </div>
    <div>
        <textarea name="article_text"></textarea>
    </div>
    <div>
        <button type="submit">Готово</button>
    </div>
</form>
{% endblock %}
