<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Янсон Андрей. {% block lab %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    {% block script %}{% endblock%}
</head>
<body>
    <header>WEB-програмимирование, часть 2. {{ self.lab() }}</header>
    <main>
        {% block main %}{% endblock %}
        <br><div><a href="/">Главная страница</a></div>
    </main>
    <footer>
        &copy; Янсон Андрей Алексеевич, ФБИ-21, 3 курс, 2024
    </footer>
</body>
</html>
