<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='lab1/lab1.css')}}">
    <title>Список русской классики</title>
</head>
<body>
    <header>WEB-програмимирование, часть 2. Лабораторная 2</header>
    <main>
        <h1>Список русской классики</h1>
        <table>
            <thead>
                <tr>
                    <th>Автор</th>
                    <th>Название</th>
                    <th>Жанр</th>
                    <th>Количество страниц</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>{{ book.author }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.genre }}</td>
                    <td>{{ book.pages }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <footer>
        &copy; Янсон Андрей Алексеевич, ФБИ-31, 3 курс, 2024
    </footer>
</body>
</html>
