{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
<h1>База знаний</h1>
<div class="menu-bar">
    <div class="menu-links">
        {% if not login %}
            <a href="{{ url_for('lab8.login') }}">Войти</a>
            <a href="{{ url_for('lab8.register') }}">Регистрация</a>
        {% else %}
        <a href="{{ url_for('lab8.logout') }}" style="color: #dc3545;">Выйти</a>
        {% endif %}
        
        <a href="{{ url_for('lab8.articles_list') }}">Список статей</a>
        
        {% if login %}
            <a href="{{ url_for('lab8.create') }}">Создать статью</a>
        {% endif %}

    </div>
    {% if login %}
        <span class="username"> {{ login }}</span>
    {% endif %}
</div>




<style>
.menu-bar1 {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 20px 0;
    padding: 12px 20px;
    background-color: #14385c;
    border-radius: 8px;
}

.menu-links {
    display: flex;
    gap: 20px;
}

.menu-bar .username1 {
    font-weight: bold;
    color: #2c3e50;
    font-style: italic;
}

.menu-bar1 a {
    text-decoration: none;
    color: #2c3e50;
    font-weight: 500;
    padding: 6px 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.menu-bar1 a:hover {
    background-color: #e0e6eb;
}

.username {
    font-weight: bold;
    color: #e3e310;
    background-color: #3e6d8e;
    padding: 5px 12px;
    border-radius: 15px;
    font-size: 20px;
}
</style>


{% endblock %}